# Automatically normalize line endings
* text=auto

# Enforce LF line endings for source code and data
*.py     text eol=lf
*.csv    text eol=lf
*.md     text eol=lf
*.yml    text eol=lf
*.txt    text eol=lf
*.json   text eol=lf
*.ipynb  text eol=lf
